<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="onOpenSidenav()" fxHide fxShow.lt-sm>
            <mat-icon>menu</mat-icon>
        </button>

        <span class="app-title">Kiwi Tabata</span>

        <nav fxFlex fxLayoutAlign="flex-end" fxHide fxShow.gt-xs>
        <button class="nav-button" mat-button fxFlex="1" *ngFor="let link of links" type="button" [routerLink]="link.href">{{link.name}}</button>
        </nav>
    </mat-toolbar-row>
</mat-toolbar>