<div class="timer">

  <app-countdown 
    [value]="getGetReadyTime()" 
    (secondsRemaining)="announceRemainingSeconds($event)" 
    (finish)="onCountdownComplete($event)" 
    *ngIf="shouldShowCountdown()"></app-countdown>

  <div class="wrapper">
    <!-- WORKOUT TIMER -->
    <circle-progress *ngIf="!isFirstRound && !isBreak"
      [percent]="getProgressValue()"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#f1c40f'"
      [unitsColor]="'#f1c40f'"
      [titleColor]="'#f1c40f'"
      [subtitleColor]="'#ecf0f1'"
      [titleFontSize]="'3.5rem'"
      [unitsFontSize]="'3.5rem'"
      [subtitleFontSize]="'2.5rem'"
      [animation]="false"
      [renderOnClick]="false"
      [subtitle]="getCurrentRound() + '/' + getRounds()"
      [responsive]="true"
    ></circle-progress>

    <!-- Break TIMER -->
    <circle-progress *ngIf="!isFirstRound && isBreak"
      [percent]="getProgressValue()"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#2ecc71'"
      [unitsColor]="'#2ecc71'"
      [titleColor]="'#2ecc71'"
      [subtitleColor]="'#ecf0f1'"
      [titleFontSize]="'3.5rem'"
      [unitsFontSize]="'3.5rem'"
      [subtitleFontSize]="'2.5rem'"
      [animation]="false"
      [renderOnClick]="false"
      [subtitle]="getCurrentRound() + '/' + getRounds()"
      [responsive]="true"
    ></circle-progress>

    <div class="control-buttons" fxLayout fxLayoutAlign="center center" fxLayoutGap="1rem" *ngIf="!isFirstRound">
      <button mat-raised-button color="accent" type="button" (click)="onPause()" *ngIf="!isPause">Pause</button>
      <button mat-raised-button color="primary" type="button" (click)="onContinue()" *ngIf="isPause">Continue</button>
      <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" type="button" (click)="onFinish()">Finish</button>
    </div>
  </div>

  <!-- TODO: Formular Component for Settings  + StartButton to trigger this component -->
<button *ngIf="isFirstRound" (click)="startTimer()">Start</button>
</div>

