<app-countdown [value]="getGetReadyTime()" (finish)="onFinish()" *ngIf="isFirstRound && onStartTimer"></app-countdown>

<!-- WORKOUT TIMER -->
<circle-progress *ngIf="!isFirstRound && !isPause"
  [percent]="getProgressValue()"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#d35400'"
  [animation]="false"
  [renderOnClick]="false"
  [subtitle]="getCurrentRound() + '/' + getRounds()"
></circle-progress>

<!-- PAUSE TIMER -->
<circle-progress *ngIf="!isFirstRound && isPause"
  [percent]="getProgressValue()"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="0"
  [outerStrokeColor]="'#2ecc71'"
  [animation]="false"
  [renderOnClick]="false"
  [subtitle]="getCurrentRound() + '/' + getRounds()"
></circle-progress>

<button *ngIf="isFirstRound" (click)="startTimer()">Start</button>
